node_modules/
dist/

scripts/data
scripts/tmp

public/AROMEPI-0025
public/AROMEPI-001
!public/AROMEPI-001/UV_WIND_15MIN/2024-09-21_12-00-00
!public/AROMEPI-001/REFLECTIVITY/2024-09-26_08-00-00

.env

api/*.bru
