html {
  font-family: arial;
  color: #333;
}

#principal-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
}

#container {
  width: 100%;
  aspect-ratio: 1 / 1;
  box-shadow: 0 0 1px #aaa;
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

#boundary {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
}

.legend {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #444;
  font-size: 0.9rem;
  margin-top: 1rem;
}
.colors {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group:first-child .rectangle {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.group:last-child .rectangle {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.rectangle {
  width: 25px;
  height: 15px;
}

.lil-gui {
  --background-color: #f6f6f6;
  --text-color: #3d3d3d;
  --title-background-color: #efefef;
  --title-text-color: #3d3d3d;
  --widget-color: #eaeaea;
  --hover-color: #f0f0f0;
  --focus-color: #fafafa;
  --number-color: #3d3d3d;
  --string-color: #8da300;
}
